/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700|Crete+Round:400,400italic|Open+Sans:400,300|Dancing+Script|Great+Vibes|Lobster+Two:400,400italic|Norican);
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    font-family: Oswald, Helvetica, sans-serif;
}

html {
    font-size: 1em;
    line-height: 1.4;
    text-transform: uppercase;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
body {
    background: rgb(0,0,0);
}
a {
    text-decoration: none;
}
h1 {
    text-align: center;
}
h5 {
    font-weight: normal;
}
#wrapper {
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
}
#top {
    position: relative;
    background: url(../img/top-bg.jpg) no-repeat;
}
#top .flex-direction-nav {
    display: none;
}
#header-links {
    position: absolute;
    top: 19px;
    right: 45px;
}
#header-links a {
    margin: 0 0 0 5px;
    color: #515151;
    font-size: 19.5px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
}
#header-links img {
    width: 19.5px;
}
a:hover {
    opacity: .5;
}
nav {
    padding: 22.5px 45px 0 45px;
}
nav a {
    padding: 0 22.5px;
    font-size: 22.5px;
    font-weight: 600;
    color: #515151;
}
#menu-left, #menu-right {
    display: inline-block;
    vertical-align: middle;
    width: 34.5%;
    padding: 11.25px 0;
}
#menu-left {
    padding-left: 22.5px;
    position: relative;
    border-top: 2px solid #a19284;
}
#menu-left:after {
    content: '';
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #a19284;
}
#menu-right {
    padding-right: 22.5px;
    text-align: right;
    position: relative;
    border-bottom: 2px solid #a19284;
}
#menu-right:before {
    content: '';
    width: 90%;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 2px solid #a19284;
}
.logo {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 22.5px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.menu-toggle {
    width: 40px;
    height: auto;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}
.mobile-menu {
    display: none;
}
@media (max-width: 499px) {
    .mobile-menu ul li a {
        padding: 5px;
    }
}
@media (min-width: 500px) and (max-width: 824px) {
    .mobile-menu ul li a {
        padding: 5px 20px;
    }
}
@media (max-width: 824px) {
	#header-links {
		position: static;
		text-align: center;
	}
    #header-links a {
        font-size: 18px;
    }
	.mobile-menu {
		display: block;
        padding: 20px 20px 0 20px;
	}
    .mobile-menu ul {
        margin: 20px 0;
        padding: 5px 0;
        text-align: center;
        border-top: 2px solid #a19284;
        border-bottom: 2px solid #a19284;
    }
    .mobile-menu ul li {
        display: inline-block;
    }
    .mobile-menu ul li a {
        font-size: 18px;
    }
	.main-menu {
		display: none;
	}
	.logo {
		width: auto;
		max-width: 200px;
		display: block;
	}
}
@media (min-width: 825px) and (max-width: 974px) {
    .main-menu a {
        font-size: 18px;
    }
}
.events {
    background: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 45px 18.75px 45px;
    font-size: 22.5px;
    color: #515151;
}
.events p {
    margin: 0;
}
.popovers {
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: -98px;
}
.popovers ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.popovers li {
    display: inline-block;
    cursor: pointer;
    width: 33%;
}
.popovers img {
    width: 100%;
}
@media (max-width: 740px) {
	#top {
		padding-bottom: 20px;
	}
	.popovers {
		display: none;
	}
}
#menu {
    background: url(../img/coal-bg.jpg) repeat-y;
    padding-top: 75px;
    padding-bottom: 45px;
}

#catering {
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../img/coal-bg.jpg) repeat-y;
}
#menu h1, #catering h1 {
    color: #fff;
}
h1 {
    font-size: 33.75px;
}
.menu-section {
    display: block;
    background-color: #fff;
    position: relative;
    margin: 22.5px 45px;
}
.menu-category {
    padding: 1px 0;
}
.menu-category h2 {
    color: #cecece;
    width: 202.5px;
    padding: 19.5px 7.5px;
    text-align: center;
    margin-left: -15px;
    letter-spacing: 1px;
    font-size: 1.5rem;
}
.rona h2, .starters h2, .dinners h2, .sides h2, .to-go h2 {
    background: url(../img/flag-bg-sm.png) no-repeat;
    background-position: top right;
    background-size: auto 100%;
}
.sandwiches h2, .sampler h2, .desserts h2, .kids h2 {
    background: url(../img/flag-bg-lg.png) no-repeat;
    background-position: top right;
    background-size: 100%;
}
.menu-items {
	padding: 20px;
}
.menu-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu-items li {
    text-align: center;
}
.rona-img {
  width: 100%;
}
p.menu-intro {
    font-size: .8775rem;
    text-align: center;
    margin-bottom: 7.5px;
}
.menu-item {
    margin-bottom: 0;
    font-size: 0.8775em;
}
.menu-price {
    color: #a91d20;
}
.menu-description {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: .75em;
}
.starters, .sandwiches, .dinners, .sampler, .sides, .desserts, .kids, .to-go, .rona {
    background-size: cover;
    background-repeat: no-repeat;
}
.rona {
  background-image: url(../img/Rona-Slush.jpg);
}
.starters {
    background-image: url(../img/starters.jpg);
}
.sandwiches {
    background-image: url(../img/sandwiches.jpg);
    background-position: center;
}
.dinners {
    background-image: url(../img/dinners.jpg);
    background-position: center 15%;
}
.sampler {
    background-image: url(../img/sampler.jpg);
    background-position: center;
}
.sides {
    background-image: url(../img/sides.jpg);
    background-position: center 20%;
}
.desserts {
    background-image: url(../img/desserts.jpg);
}
.kids {
    background-image: url(../img/kids.jpg);
    background-position: center;
}
.to-go {
    background-image: url(../img/to-go.jpg);
    background-position: center;
}
@media (max-width: 740px) {
	#menu {
		padding-top: 20px;
	}
}
@media (min-width: 768px) {
    .menu-items li {
        display: inline-block;
        vertical-align: top;
        width: 47%;
        margin: 7.5px;
    }
}
@media (min-width: 910px) {
    .menu-category {
        width: 195px;
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 0;
    }
    .menu-category h2 {
        position: absolute;
        left: -15px;
        margin-top: 48.75px;
    }
    .menu-items {
        display: inline-block;
        margin-left: 195px;
        padding: 22.5px 33.75px;
    }
    .menu-items p, .menu-items h3 {
        margin: 0;
    }

}
.button {
    color: #fff;
    background-color: #a91d20;
    padding: .5rem 1rem;
    font-size: 22.5px;
}
#menu .button {
    display: block;
    width: 310px;
    text-align: center;
    margin: 30px auto 0 auto;
}
#catering .button {
    margin-left: 22.5px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.red {
    color: #a91d20;
}
.grey {
    color: #989797;
}
#about, #contact {
    background: url(../img/texture-bg.gif) repeat-y;
    padding: 22.5px 45px;
}
#catering {
    padding-top: 37.5px;
    padding-bottom: 37.5px;
}
#catering img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 91%;
}
#catering p {
    font-size: 22.5px;
    text-align: center;
    font-weight: 600;
}
footer {
    background-color: #2f2f2f;
    text-align: center;
    color: #676666;
    padding: 22.5px;
    font-weight: 600;
}
footer a, footer a:visited, footer a:active {
    color: #676666;
}
.slider {
    margin: -7.5px 45px 0 45px;
}
.slider .flexslider {
    margin-bottom: 0;
}
.controlNav {
    margin-bottom: 22.5px;
}
.controlNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.controlNav li {
    display: inline-block;
    cursor: pointer;
    font-family: arial, Helvetica, sans-serif;
    color: #989797;
    font-size: 18px;
}
li.flex-active {
    color: #a91d20;
}
#about .flexslider {
    margin-bottom: 15px;
}
#instagram {
    overflow-x: scroll;
}
#instagram h1 {
    text-align: left;
    -webkit-transform: rotate(357deg);
    -o-transform: rotate(357deg);
    transform: rotate(357deg);
}
.map iframe {
    display: block;
    width: 100%;
    height: 100%;
}
.contact-info {
    background: #fff;
    padding: 16px;
}
.map, .contact-info {
    text-align: center;
}
.phone img {
    max-width: 90%;
    margin: 0 auto 16px auto;
    display: block;
}
.hours {
    font-size: 15px;
}
.hours p, .phone h2 {
    margin: 0;
}
.phone h2 {
    font-size: 22.5px;
}
.newsletter, .contact-form {
    color: #d2d1d1;
}
.newsletter {
    text-align: center;
}
.newsletter h2 {
    font-size: 1.125em;
}
.contact-form h2 {
    font-size: 22.5px;
}
.or img {
    margin: 0 auto;
    display: block;
}
@media (min-width: 768px) {
    .map {
        height: 300px;
    }
    .contact-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .phone, .hours {
        width: 50%;
    }
}
@media (max-width: 949px) {
	.slider {
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.events {
		margin-left: 20px;
		margin-right: 20px;
		padding: 20px;
	}
    .newsletter, .contact-form {
        max-width: 400px;
        margin: auto;
    }
    .contact-form h2 {
        text-align: center;
    }
    .contact-form button {
        margin-top: 16px;
    }
}
@media (min-width: 950px) {
    .contact-info-wrapper {
        display: flex;
    }
    .map, .contact-info {
        width: 50%;
    }
    .map, .contact-info {
        height: 273px;
    }
    .newsletter, .contact-form {
        display: inline-block;
        vertical-align: top;
        margin-top: 22.5px;
    }
    .newsletter h2, .contact-form h2 {
        margin-top: 9px;
    }
    .newsletter {
        width: 25%;
    }
    .contact-form {
        width: 59%;
    }
    .contact-form-left, .contact-form-right {
        float: left;
    }
    .contact-form-left {
        width: 48.5%;
        margin-right: 1.5%;
    }
    .contact-form-right {
        width: 48.5%;
        margin-left: 1.5%;
    }
    .contact-form p {
        margin-top: 0;
    }
    .contact-form button {
        position: relative;
        top: -39px;
        left: -106%;
    }
    .or {
        display: inline-block;
        vertical-align: middle;
        width: 15%;
        margin-top: 112.5px;
    }
    .or img {
        width: 48%;
    }
}

button {
    background: grey;
    width: 100%;
    text-transform: uppercase;
    font-size: 22.5px;
    border: none;
    color: #d2d1d1;
}
input {
    border: none;
    width: 100%;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    padding: 7.5px 0;
}
textarea {
    border: none;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    width: 100%;
    height: 175px;
    padding: 7.5px 0;
}
#form-messages {
    color: #000;
}
.jobs, .social {
    font-size: 22.5px;
    vertical-align: middle;
    padding: 0 9%;
    text-align: center;
    display: inline-block;
}
.social-icon {
    padding: 30px 7.5px 0 7.5px;
}
hr {
    border: none;
    margin: 7.5px 0;
}
#carousel img {
    display: block;
    float: left;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.8);
    z-index: 100;
}
#overlay-close {
    position: absolute;
    top: -18px;
    right: -18px;
    cursor: pointer;
}
#overlay-close img {
    width: 45px;
}
#overlay-content {
    position: relative;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}
#food, #drinks, #party {
    margin-top: 37.5px;
    background: #fff;
    border: 11.25px solid rgba(82,74,67,.82);
    background: url(../img/overlay-bg.gif);
    background-size: 100% auto;
    padding: 0 37.5px 75px 37.5px;
}
#overlay-links {
    width: 720px;
    margin: -60px auto 0 auto;
}
#overlay-links ul {
    list-style-type: none;
    margin: 0 auto 375px auto;
    text-align: center;
    padding: 0;
}
#overlay-links li {
    display: inline-block;
    margin: 5px;
}
#overlay-links img {
    width: 202.5px;
    cursor: pointer;
}
.overlay-lower {
    border-top: 2px solid #a19284;
    border-bottom: 2px solid #a19284;
    padding: 15px;
}
.overlay-picture {
    border-right: 2px solid #a19284;
    width: 30%;
    text-align: center;
    display: inline-block;
}
.overlay-picture h4 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 15px;
}
.overlay-picture p {
    font-family: 'Crete Round', sans-serif;
    text-transform: lowercase;
    margin: 0;
    font-size: 18px;
}
.overlay-picture img {
    border: 7.5px solid #a91d20;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7.5px;
    display: block;
    width: 80%;
}
.overlay-heading h1 {
    font-size: 30px;
}
.overlay-heading img {
    margin: 0 auto 15px auto;
    display: block;
    width: 100%;
}
.overlay-paragraph {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    padding-left: 4%;
}
.overlay-paragraph p {
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 7.5px;
}
.overlay-paragraph h2 {
    margin-top: 3.75px;
    margin-bottom: 7.5px;
    font-size: 1.125em;
}
#catering-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 100;
    overflow: scroll;
    display: none;
}
#catering-overlay-content {
    width: 900px;
    max-width: 90%;
    border: 20px solid rgba(82,74,67,.82);
    background: url(../img/catering-bg.gif);
    padding: 0px 30px 30px 30px;
    margin: 50px auto;
    position: relative;
}
#catering-overlay ul {
    padding: 0;
    margin: 0;
}
#catering-overlay ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

#catering-overlay ul.catering-left {
    margin-right: 3%;
}
#catering-overlay hr {
    border-top: 2px solid #998576;
}
.catering-overlay-btn {
    cursor: pointer;
}
#catering-overlay-close, #job-overlay-close {
    position: absolute;
    top: -38px;
    right: -38px;
    cursor: pointer;
}
#catering-overlay img {
    width: 100%;
    margin-bottom: 15px;
}
.catering-section {
    padding-left: 3%;
    padding-right: 3%;
}
@media (min-width: 600px) {
    .catering-left, .catering-right {
        width: 48%;
        display: inline-block;
        vertical-align: top;
    }
}
.job-overlay-btn {
    cursor: pointer;
}
#job-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 100;
    overflow: scroll;
    display: none;
}
#job-overlay-content {
    width: 900px;
    max-width: 90%;
    border: 20px solid rgba(82,74,67,.82);
    background: url(../img/catering-bg.gif);
    padding: 0px 30px 30px 30px;
    margin: 50px auto;
    position: relative;
}
#job-overlay-content ul {
    list-style-type: none;
    padding-left: 0;
}
#job-overlay-content li {
    margin-bottom: 10px;
}
#job-overlay-content a {
    color: #a91d20;
}
#job-overlay-content h1 {
    padding-bottom: 10px;
    border-bottom: 2px solid #998576;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
